@charset "UTF-8";

/*==================================================
    共通
===================================*/
body {
    background:#f3f3f3;
    width: 85%;
    margin: 0 auto;
}

main {
    vertical-align:middle; 
    padding: 50px 0;
    text-align: center;
}

hr {
    display:block;
    height: 0px;
    border:0;
    border-top: 6px solid #ff5b7f;
    padding:0;
    margin-top: 0;
}

/*==================================================
    ヘッダー
===================================*/

header {
    display: flex;
    position: relative;
    align-items: flex-end;
    /* background-color: #fbb8c7; */
}

h1 {
    padding: 20px 50px;
    font-size: 50px;
}


/*==================================================
    ナビゲーション
===================================*/

  /* ボタン共通設定 */
.btn04 {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display:inline-block;
    padding: 10px 30px;
    color:#fff;
    font-weight: bold;
    background-color: #ff5b7f;
    border:1px solid #ff5b7f;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    outline: none;
    /*はみ出す背景色を隠す*/
    overflow: hidden;
}

/*hoverした際のボタンの形状*/
.btn04:hover {
    background-color: #ffbecc;
    color:#e4244e;
    border-color: transparent;
    /*色の変化を遅らせる*/
  transition-delay: .1s;
}

/*線の設定*/
.btn04 span{
    display: block;
    z-index: 2;
}

/*== 線から塗に変化（左から右） */

/*線の設定*/
.borderleft span::before,
.borderleft span::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    width:0;
    height:1px;
    /*アニメーションの設定*/
  transition: all .3s;
}

.borderleft span::after {
    /*線の形状*/
    background: #ffbecc;
}

/*左上線*/
.borderleft span::before {
    left:0;
    top:0;
}

/*左下線*/
.borderleft span::after {
    left:0;
    bottom:0;
}

/*hoverをすると線が伸びる*/
.borderleft:hover span::before,
.borderleft:hover span::after {
    width: 100%;
}

/*背景の設定*/
.borderleft::before{
  content: '';
    /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
    bottom:0;
  z-index: -1;
    /*背景の形状*/
  height: 100%;
  width: 0;
  background:#ffe2e8;
    /*アニメーションの設定*/
  transition: all .3s;
}

/*hoverをすると背景が伸びる*/
.borderleft:hover::before{
  width: 100%;
    /*0.4秒遅れてアニメーション*/
  transition-delay: .4s;
}


/*========= レイアウトのためのCSS ===============*/

nav {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 35px;
    bottom: -2px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0 30px;
}


/*==================================================
    ハンバーガーメニュー
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn1{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#ff5b7f;
    cursor: pointer;
    width: 50px;
    height:50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  /*ボタン内側*/
  .openbtn1 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
    background: #fff;
      width: 45%;
    }
  
  .openbtn1 span:nth-of-type(1) {
    top:15px; 
  }
  
  .openbtn1 span:nth-of-type(2) {
    top:23px;
  }
  
  .openbtn1 span:nth-of-type(3) {
    top:31px;
  }
  
  /*activeクラスが付与されると線が回転して×に*/
  
  .openbtn1.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
  }
  
  .openbtn1.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }
  /*========= レイアウトのためのCSS ===============*/
  
  a{
    color: #333;
    text-decoration: none;
  }
  
  .lead{
    margin:20px 0 0 0;
  }
  
  .btn-block{
    width:200px;  
    padding: 30px;
  }


/*==================================================
    img-Anim
===================================*/

.slider {/*横幅98%で左右に余白を持たせて中央寄せ*/
    width:85%;
    margin:0 auto;
     
 }
 
 .slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:30vh;
    object-fit: cover;
 }
 /* https://design-levelup.com/webdesign/js/jquery_making_3/#i-2 */
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }

main ul li button,
.slick-prev, 
.slick-next{
        display: none;
 }
  /*========= レイアウトのためのCSS ===============*/
.img-anim {
    padding-bottom: 50px;
}


/*==================================================
    article-Anim
===================================*/

/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin:0 auto 80px;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
  border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    transition-duration: .5s;
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);
    transition-duration: .5s;
}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
  transform: rotate(225deg);
}

.title.close::after{
  transform: rotate(315deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
    margin:0 3% 3% 3%;
    padding: 3%;
}


/*========= レイアウトのためのCSS ===============*/

article {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.article_title {
    text-align: center;
    margin: 30px 0;
    font-size:2rem;
}


/*==================================================
    スクロールでタイトルに下線
===================================*/

.underline-before {

	background: linear-gradient(#ff5b7f, #ffcb5b) 0 100%/0 8px no-repeat;
	/*左から、カラー（始点と終点それぞれ同じものを指定）、position / サイズ横縦 繰り返しの有無 */

	transition: background 1s;
	/*トランジションの設定。下線を引く動きをアニメーションにするのに必要 */

	text-decoration: none;
	/*テキストの装飾の設定 */
}

.underline-after {
	background-size: 100% 8px;
  /* 変化後のスタイル。横サイズを0から100%に変えることで指定の文字列に下線を引く */
}


/*==================================================
    ページ内リンク
===================================*/

section{
    padding:15px;
  }
  
  section:nth-child(2n){
    background:#f3f3f3; 
  }
  
  #main-vidual img{
    width: 100%;
  }
  
  #page-link li a::before{
    content:'▼';
    font-size:0.8rem;
    padding:0 10px 0 0;
    color: #ccc;
  }
  
  #footer{
    position: relative;
    z-index: 2;
  }



/*==================================================
    フッター
===================================*/

footer {
  width: 100%;
}

small{
    background:#333;
    color:#fff;
    display: block;
    text-align: center;
    padding:20px;
  }