@charset "UTF-8";

/* 共通項 */

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    color: #333;
    background: #fff;
}

.inner {
    width: 1100px;
    margin: 0 auto;
}

/* header */

header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
}

header h1 {
    float: left;
}

.logo_box {
    display: inline-block;
    width: 265px;
    height: 115px;
    background-color: #000000;
    text-align: center;
}

header h1 img {
    width: 175px;
    height: 25px;
    padding: 48px 0 40px 0;
}

header nav {
    position: absolute;
    right: 0;
    bottom: 0;
}

header ul {
    display: flex;
    float: right;
    align-items: flex-end;
}

header ul li {
    display: inline-block;
    width: 190px;
    padding: 6px 0;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 1.3em;
}

header ul li:first-child {
    border-left: 1px solid #ccc;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.1em;
}

header ul li a span {
    color: #999;
    font-size: 10px;
    font-weight: normal;
}

/* key_visual */

.key_visual {
    position: relative;
}

.key_visual img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.img1 {
    animation: img1-anim 15s infinite; 
}

.img2 {
    animation: img2-anim 15s infinite;
}

.img3 {
    animation: img3-anim 15s infinite;
}

@keyframes img1-anim {
    0%{ opacity: 1;}
    30%{ opacity: 1;}
    40%{ opacity: 0;}
    100%{ opacity: 0;}
}

@keyframes img2-anim {
    0%{ opacity: 0;}
    20%{ opacity: 0;}
    30%{ opacity: 1;}
    60%{ opacity: 1;}
    70%{ opacity: 0;}
    100%{ opacity: 0;}
}

@keyframes img3-anim {
    0%{ opacity: 0;}
    50%{ opacity: 0;}
    60%{ opacity: 1;}
    90%{ opacity: 1;}
    100%{ opacity: 0;}
}

/* main */

main {
    overflow: hidden;
    margin-top: 295px;
    margin-bottom: 100px;
    overflow: auto;
    padding-top: 43px;
    font-size: 14px;
    line-height: 2em;
}

#main {
    width: 73%;
    float: right;
    background: #fff;
}

.main_content {
    display: flex;
}

#main h2 {
    margin: 15px 0;
    color: #FFF;
    letter-spacing: 0.1em;
    background: #000 url(../img/mark1.png) no-repeat left 10px center;
    padding-left: 35px;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
}

#main h3 {
    margin: 15px 0;
    background: #666;
    color: #000;
    border: 1px solid #ccc;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    background: linear-gradient(#fff,#EDEDED);
    font-size: 15px;
}

#main h4 {
    padding: 0 15px;
    font-weight: bold;
    margin-top: 10px;
}

#main a {
    color: #000;
}

#main p {
    padding: 0 15px;
}

.news {
    height: 150px;
    padding-left: 15px;
    overflow-y: scroll;
}

.new {
    background: #FF0000;
    color: #FFF;
    padding: 0 5px;
    font-size: 10px;
    border-radius: 2px;
}

.news dt{
    display: inline-block;
    width: 14%;
    min-width: 100px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.news dd{
    display: inline-block;
    width: 86%;
    border-bottom: 1px solid #ccc;
}

/* sidebar */

#sidebar {
    width: 23%;
    float: left;
}

.box1 {
    margin: 15px 0;
}

.bg-gray {
    padding: 20px 15px;
    background: #E4E4E4;
    border: 1px solid #ccc;
}

#sidebar h2 {
    padding-left: 10px;
    border-left: 3px solid #000;
    line-height: 1em;
    margin-bottom: 18px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    height: 32px;
    background: #fff;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

#sidebar ul li:last-child {
    border-bottom: none;
}

#sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 12px;
    transition: 0.5s;
}

#sidebar ul li a:hover {
    background: #000;
    color: #FFF;
}

/* footer */

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #000000;
    text-align: center;
}

footer p {
    color: #FFFFFF;
    font-size: 11.5px;
    line-height: 1.25;
    padding: 5px;
    box-sizing: border-box;
}